<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="StudyMate Suite">

     <test name="Smoke Tests">

     <groups>
        <run>
           <include name="smoke"/>
     </run>
     </groups>

     <classes>
         <class name="tests.StudentTests"/>
         <class name="tests.LoginTests"/>
         <class name="tests.GroupTests"/>
     </classes>

     </test>

</suite>